@using Microsoft.AspNetCore.Http
@using RealEstateApp.Core.Application.Helpers
@using RealEstateApp.Core.Application.DTOs.Account
@using RealEstateApp.Core.Application.Enums
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAdmin = User != null ? User.Roles.Any(r => r == Roles.Admin.ToString()) : false;
    var isClient = User != null ? User.Roles.Any(r => r == Roles.Client.ToString()) : false;
    var isAgent = User != null ? User.Roles.Any(r => r == Roles.Agent.ToString()) : false;
    var isDeveloper = User != null ? User.Roles.Any(r => r == Roles.Developer.ToString()) : false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Real Estate App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RealEstateApp.Presentation.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RealEstateApp.Presentation.WebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User != null)
                        {

                            if (isClient)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="#" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="#" asp-action="Index">Agents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="#" asp-action="Index">My Properties</a>
                                </li>
                            }

                            if (isAgent)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="#" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Agent" asp-action="MyProfile">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="#" asp-action="Index">Mant. Properties</a>
                                </li>
                            }

                            if (isAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Agent's List</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Mant. Admins</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Mant. Developers</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Mant. Type of Properties</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Mant. Type of Sales</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Mant. Improvements</a>
                                </li>


                            }

                            <li class="nav-item align-content-end">
                                <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="User" asp-action="LogOut">Logout (@(User.UserName))</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                             <li class="nav-item align-content-end">
                                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Agents</a>
                            </li>

                            <li class="nav-item align-content-end">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Join the App</a>
                            </li>

                            <li class="nav-item align-content-end">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Login</a>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Real Estate App - Designed with 💙 by ITLA students
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
