@using RealEstateApp.Core.Application.ViewModels.Properties
@model List<PropertiesViewModel>
@{
    ViewData["Title"] = "Properties";
}


<section class="container">
    <div class="row mx-auto">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold mt-4 text-center text-primary">🏢 Real Estate App</h1>
            <p class="fs-3 fw-bold text-secondary mt-1 text-center">
                Welcome to Real State App, here you can manager the properties of the system. <i class="text-white">🚀</i>
            </p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a asp-controller="Agent" asp-action="Create" class="btn btn-info">Create a new Property</a>
        </div>
    </div>

    </section>