@using RealEstateApp.Core.Application.ViewModels.Properties
@model SaveAgentProfileViewModel
@{
    ViewData["Title"] = "My Profile";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-6 offset-3">

            <div class="card">

                <div class="card-header bg-dark text-light">
                    <h4>Update My Profile</h4>
                </div>

                <div class="card-body">
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <form method="post" enctype="multipart/form-data" asp-controller="Agent" asp-action="MyProfile">

                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label">Fisrt Name:</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Last Name:</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label">Phone Number:</label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="File" class="form-label">Profile Image:</label>
                            <input asp-for="File" required class="form-control" />
                        </div>



                       


                        <a asp-controller="Agent" asp-action="Index" class="btn btn-warning">Go back</a>

                        <button type="submit" class="btn btn-primary">Save</button>

                    </form>




                </div>

            </div>

        </div>

    </div>

</div>